# Lending Club Data analysis

### Importing required libraries like numpy and pandas

In [265]:
import numpy as np
import pandas as pd

### import the loan file in the form of dataset

In [249]:
Loan_df = pd.read_csv('loan.csv')

C:\Users\Lkedar\AppData\Local\Temp\ipykernel_22728\2834756692.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  Loan_df = pd.read_csv('loan.csv')

In [266]:
#Checking the basic info of load data frame
Loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

According to the above we come to know there are total 39716 rows
Total number of recode:39717  
Total no. columns: 111
Type of Columns
1. float64 type : 74
2. int64: 13
3. object:24

Using this info we will check how many column are blank.

In [267]:
Loan_df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

After execution of obove command, we observe that some column are totally blank.
We can remove these columns
First we'll find all name of blank columns

In [268]:
blank_columns = Loan_df.columns[df.isnull().sum()==39717]
blank_columns
#below are list of columns that does't contain any data, hence can be delete

Index(['mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

In [269]:
#Total Blank colmns
len(blank_columns)

54

So We'll drops these 54 column and capture a new data frame

In [270]:
newloan_df = Loan_df.drop(blank_columns,axis=1)
newloan_df
#below is the new dataset

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

In [271]:
#check shape
newloan_df.shape

(39717, 57)

In [195]:
#check new dataframe info
newloan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  mths_since_last_record      2786 non-null   float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39667 non-null  object
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  object
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   object
 48  last_credit_pull_d          39715 non-null  object
 49  collections_12_mths_ex_med  39661 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  acc_now_delinq              39717 non-null  int64
 53  chargeoff_within_12_mths    39661 non-null  float64
 54  delinq_amnt                 39717 non-null  int64
 55  pub_rec_bankruptcies        39020 non-null  float64
 56  tax_liens                   39678 non-null  float64
dtypes: float64(20), int64(13), object(24)
memory usage: 17.3+ MB

In [272]:
newloan_df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [51]:


# After checking the isnull funtion column wise, we found out that 2 more column can be droped 
# as the missing values are more than 90%. 
#We can found out by executing the below statement for colunms
1.

In [273]:
newloan_df[['mths_since_last_record','next_pymnt_d']].isnull().sum()/len(newloan_df.index)*100

mths_since_last_record    92.985372
next_pymnt_d              97.129693
dtype: float64

In [258]:
#Droping the columns which has missing valaues more than 90%
#newloan_df = newloan_df.drop(['mths_since_last_record','next_pymnt_d'],axis=1)
newloan_df = newloan_df.drop(['mths_since_last_record','next_pymnt_d'],axis=1)

In [274]:
newloan_df.shape

(39717, 57)

In [275]:
#we can also drop the desc column as it does hold any significance in our analysis
newloan_df = newloan_df.drop(['desc'],axis=1)

In [276]:
newloan_df.shape

(39717, 56)

In [ ]:
#Checking for row having missing values more than 5. And again validating the missing count using the index

In [277]:
index=newloan_df[newloan_df.isnull().sum(axis=1)>5].index
print(list(index))

[4714, 11282, 14839, 16719, 24984, 28547, 39642, 39650, 39659, 39660, 39686, 39688, 39692, 39700, 39704, 39706, 39714, 39715]

In [279]:
newloan_df.loc[[39659,39660]].isnull().sum(axis=1)

39659    8
39660    8
dtype: int64

In [88]:
# droping the rows using the index

In [280]:
newloan_df = newloan_df.drop(list(newloan_df[newloan_df.isnull().sum(axis=1)>5].index),axis=0)

In [281]:
newloan_df.shape

(39699, 56)

### Conversion of columns from object to numeric numbers

In [ ]:
#Convert int_rate and emp_length columns

In [282]:
#int_rate
newloan_df['int_rate'] = newloan_df['int_rate'].apply(lambda x:pd.to_numeric(x.split('%')[0]))

In [287]:
newloan_df['int_rate'].head()
cleanloan = newloan_df.copy()

1742832500800
1742893992640

In [300]:
#emp_length
tenure_mapping = {
    '< 1 year': 0,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    '10+ years': 10
}
newloan_df['emp_tenure_num'] = newloan_df['emp_length'].map(tenure_mapping)

###### Now that we have clean the data we will proceed to analysis. if more data cleaning as and when needed

# Analysis

Lets start with the analysis. 
First of all we'll see the percentage of defaulter in the complete cleaned dataframe

In [321]:
numberOfChargeOfLoan =  len(newloan_df[newloan_df['loan_status']=='Charged Off'])
numberOfTotalRecord = len(newloan_df)

percentOfDefaulters = (numberOfChargeOfLoan*100)/numberOfTotalRecord
print(percentOfDefaulters)

14.161565782513414

In [ ]:
So in the the complete data set there 14.16% defaulters

In [ ]:
Ther

In [ ]:
chargeOff_df = newloan_df[newloan_df['loan_status']=='Charged Off']
chargeOff_df.shape

In [160]:
pvt_table=pd.pivot_table(chargeOff_df, values = 'loan_amnt', index=['loan_status','verification_status'], columns = ['grade'], aggfunc='count')

In [161]:
table=pvt_table.reset_index()
#table=table[table['verification_status']=='Not Verified']
table['A%'] = table['A'].apply(lambda x: (x*100/table['A'].sum()))
table['B%'] = table['B'].apply(lambda x: (x*100/table['B'].sum()))
table['C%'] = table['C'].apply(lambda x: (x*100/table['C'].sum()))
table['D%'] = table['D'].apply(lambda x: (x*100/table['D'].sum()))
table['E%'] = table['E'].apply(lambda x: (x*100/table['E'].sum()))
table['F%'] = table['F'].apply(lambda x: (x*100/table['F'].sum()))
table['G%'] = table['G'].apply(lambda x: (x*100/table['G'].sum()))

In [159]:
table

grade,loan_status,verification_status,A,B,C,D,E,F,G,A%,B%,C%,D%,E%,F%,G%
0,Charged Off,Not Verified,316,618,587,408,151,45,17,52.491694,43.368421,43.578322,36.493739,21.118881,14.106583,16.831683
1,Charged Off,Source Verified,140,354,316,311,194,93,26,23.255814,24.842105,23.459540,27.817531,27.132867,29.153605,25.742574
2,Charged Off,Verified,146,453,444,399,370,181,58,24.252492,31.789474,32.962138,35.688730,51.748252,56.739812,57.425743